KERNEL_ARCH_CFLAGS:=\
-DHAVE_MMAP=0 \
-DLACKS_SYS_PARAM_H \
-DABORT="{printf(\"dlmalloc abort\");abort();}"

#-DDEBUG \


KERNEL_ARCH_CPPFLAGS:=
KERNEL_ARCH_LDFLAGS:=
KERNEL_ARCH_LIBS:=

KERNEL_ARCH_OBJS:=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/dlmalloc.o \
$(ARCHDIR)/gdt.o \
$(ARCHDIR)/ksbrk.o \
$(ARCHDIR)/gdt_flush.o \

# $(ARCHDIR)/alloc.o \
